<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>All users</title>
</head>
<body>

<!-- Выводим шапку (горизонтальное меню) -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>-->

    <!-- Выводим имя пользовтеля и его роли -->
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
        <p class="font-weight-bold"><div class="navbar-text align-items-start"><a th:href="@{/user/admin/{id}(id=${currentUser.getId()})}" th:text="${currentUser.getFirstName()} + ' '">user</a> </div></p>
        &nbsp;
        <div class="navbar-text align-items-start"><a th:text="' with roles: ' + ${authorityString}">user</a> </div>
    </div>
      <!--  <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/main">Messages</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/user">User list</a>
            </li>
        </ul>-->

    <!-- Выводим кнопку выхода из системы -->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!--<a th:href="@{/appLogout}" th:text="Logout"></a> -->
                <a class="nav-link" href="/appLogout">Logout</a>
            </li>

        </ul>
    </div>
</nav>

<!-- Выводим боковое меню (слева) -->
<!--<ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic bg-light">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Home
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            About
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
            Services
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
            Gallery
        </a>
    </li>
</ul>-->

<div class="container mt-5">
<div th:each="user : ${users}">

    <a th:href="@{/user/admin/{id}(id=${user.getId()})}" th:text="${user.getFirstName()} ">user</a>

</div>
<a href="/user/admin/new">Create new user</a>


<form th:action="@{/appLogout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>